.card {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.description {
    margin: 0 10px;
    display: inline-block;
    position: relative;
}


.chip {
    float: right;
    position: absolute;
    top: 1px;
    right: -70px;
}
